body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  color: rgb(72, 72, 72);
  width: 700px;
}

.review-container {
  border-bottom: solid 1px #e0e0e0;
}

.review-container img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.review-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name {
  margin-bottom: 5px;
}

.date{
  margin-top: 5px;
  font-weight: 100;
  font-size: 13px;
}
.review-body {
  margin: 25px;
}

.name-date {
  margin-left: 15px;
}

.review-search {
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: normal;
  color: #484848;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  border: solid 1px #e0e0e0;
}

.review-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-footer-button {
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
  text-decoration: none !important;
  border-radius: 4px !important;
  border-width: 1px !important;
  border-style: solid !important;
  background: transparent !important;
  border-color: rgb(72, 72, 72)
}